<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Welcome to the Nested Forms Lab!</p>

    <p>let's navigate to the '/new'</p>
  </body>
</html>
