<form action="/pirates" method="post">
  <p>Pirate name: <input type="text" name="pirate[name]"</></p>
  <p>Pirate weight: <input type="text" name="pirate[weight]"</></p>
  <p>Pirate height: <input type="text" name="pirate[height]"</></p>
  <h1>Pirate Ship 1</h1>
  <p>Ship 1 name: <input type="text" id="ship_name_1" name="pirate[ships][][name]"></p>
  <p>Ship 1 type: <input type="text" id="ship_type_1" name="pirate[ships][][type]"></p>
  <p>Ship 1 booty: <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"></p>
  <h1>Pirate Ship 2</h1>
  <p>Ship 2 name: <input type="text" id="ship_name_2" name="pirate[ships][][name]"></p>
  <p>Ship 2 type: <input type="text" id="ship_type_2" name="pirate[ships][][type]"></p>
  <p>Ship 2 booty: <input type="text" id="ship_booty_2" name="pirate[ships][][booty]"></p>
  <input type="submit" value="Submit" id="Submit">


</form>
